/* Footer.css */

.footer-container {
    height: 720px; /* Set the desired height */
    background-color: rgb(255, 255, 255);
    color: white; /* Text color */
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .column {
    flex: 1;
    padding: 20px;
  }
  
  .headline-1{
    font-size: 124px;
    margin-bottom: 20px;
    background-color: black;
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position 0.3s ease;
    background-size: 200% auto;
  }
  
  
  .description {
    font-size: 26px;
    margin-bottom: 30px;
  }
  
  .button {
    display: inline-block;
 

    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color:#1DA1F2; /* Light green on hover */
  }
  .column-2 {

    padding: 20px;
  }
  /* SocialMediaIcons.css */
/*.social-icons {
  margin-top: 500px;
}*/

.social-icons ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-icons ul li {
  margin: 0 15px;
  transition: all 0.3s ease;
}

.social-icons ul li a {
  color: #333;
  font-size: 40px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons ul li a:hover {
  color: #55acee; /* Twitter Blue color on hover */
  transform: scale(1.2); /* Scale up the icon on hover */
}


